<a href="https://colab.research.google.com/github/gkrishna247/python_training/blob/main/python_basics_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program to create a new string made of the middle three characters of an input string.
	Eg: str1= “PRADEEP”                     
	Output: ADE

In [2]:
def middle_three_characters(input_string):
    if len(input_string) < 3:
        return "Input string must be at least 3 characters long."
    if len(input_string) % 2 == 0:
        return "Input string length must be odd to have a middle three characters."

    mid_index = len(input_string) // 2
    return input_string[mid_index-1:mid_index+2]
str1 = "KRISHNA"
output = middle_three_characters(str1)
print("Output:", output)

Output: ISH

Write a program to create a new string made of an input string’s first, middle, and last character.
	Eg:  str1= ”PRADEEP”
	Output: PDP

In [3]:
def first_middle_last(input_string):
    if len(input_string) < 3:
        return "Input string must be at least 3 characters long."
    first_char = input_string[0]
    mid_index = len(input_string) // 2
    middle_char = input_string[mid_index]
    last_char = input_string[-1]

    return first_char + middle_char + last_char
# Example usage:
str1 = "KRISHNA"
output = first_middle_last(str1)
print("Output:", output)

Output: KSA

Count all letters, digits, and special symbols from a given string
str1 = "P@#yn26at^&i5ve"
Outcome:
Total counts of chars, digits, and symbols
Chars = 8
Digits = 3
Symbol = 4

In [4]:
def count_characters_types(input_string):
    chars_count = 0
    digits_count = 0
    symbols_count = 0

    for char in input_string:
        if char.isalpha():
            chars_count += 1
        elif char.isdigit():
            digits_count += 1
        else:
            symbols_count += 1

    return chars_count, digits_count, symbols_count
str1 = "P@#yn26at^&i5ve"
chars, digits, symbols = count_characters_types(str1)
print("Chars =", chars)
print("Digits =", digits)
print("Symbols =", symbols)

Chars = 8
Digits = 3
Symbols = 4

Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
s1 = "Abc"
s2 = "Xyz"
Output:
AzbycX

In [5]:
def merge_strings(s1, s2):
    s3 = []
    len_s1 = len(s1)
    len_s2 = len(s2)
    min_len = min(len_s1, len_s2)
    for i in range(min_len):
        s3.append(s1[i])
        s3.append(s2[-(i+1)])
    if len_s1 > len_s2:
        s3.extend(s1[min_len:])
    elif len_s2 > len_s1:
        s3.extend(s2[:-(min_len+1):-1])
    return ''.join(s3)

s1 = "Abc"
s2 = "Xyz"
s3 = merge_strings(s1, s2)
print("Output:", s3)

Output: AzbycX

Given two strings, str1 and str2. Write a program to create a new string str3 by appending str2 in the middle of str1.
	Eg: str1= ”STAR”                                str2= “SUPER”
	Output:   STSUPERAR

In [6]:
def append_in_middle(str1, str2):
    mid_index = len(str1) // 2
    str3 = str1[:mid_index] + str2 + str1[mid_index:]
    return str3

str1 = "STAR"
str2 = "SUPER"
str3 = append_in_middle(str1, str2)
print("Output:", str3)

Output: STSUPERAR

Accept the marked price from the user and calculate the Net amount as (Marked Price - Discount) to pay according to following criteria:
Marked Price	      Discount
>10000	              20%
>7000 and <=10000   	15%
<=7000	              10%

In [7]:
def calculate_net_amount(marked_price):
    if marked_price > 10000:
        discount = 0.20
    elif marked_price > 7000:
        discount = 0.15
    else:
        discount = 0.10
    discount_amount = marked_price * discount
    net_amount = marked_price - discount_amount
    return net_amount

marked_price = float(input("Enter the marked price: "))
net_amount = calculate_net_amount(marked_price)
print("Net amount to pay:", net_amount)

Enter the marked price: 100000
Net amount to pay: 80000.0

Write a program to calculate the electricity bill (accept number of units from user) according to the following criteria:
Units	            Price
First 100 units	   No charge
Next 100 units	   Rs.5 per unit
After 200 units	   Rs.10 per unit
(For example, if input unit is 350, then the total bill amount is Rs.2000)

In [8]:
def calculate_electricity_bill(units):
    if units <= 100:
        bill_amount = 0
    elif units <= 200:
        bill_amount = (units - 100) * 5
    else:
        bill_amount = (100 * 5) + (units - 200) * 10
    return bill_amount

units = int(input("Enter the number of units: "))
bill_amount = calculate_electricity_bill(units)
print("Total bill amount:", bill_amount)

Enter the number of units: 350
Total bill amount: 2000

Write a program to calculate Employee’s bonus calculation for the details given below
Experience	        Bonus (%)
More than 8 years	  10 %
More than 4 years	   7%
More than 2 years	   4%

In [9]:
def calculate_bonus(salary, experience):
    if experience > 8:
        bonus_percentage = 0.10
    elif experience > 4:
        bonus_percentage = 0.07
    elif experience > 2:
        bonus_percentage = 0.04
    else:
        bonus_percentage = 0.00
    bonus_amount = salary * bonus_percentage
    return bonus_amount

salary = float(input("Enter the employee's salary: "))
experience = int(input("Enter the employee's experience in years: "))
bonus = calculate_bonus(salary, experience)
print("Bonus amount:", bonus)

Enter the employee's salary: 30000
Enter the employee's experience in years: 5
Bonus amount: 2100.0